
/* 
***********
Top Nav Bar
***********
*/


/*Grid */

#top-links-container {
    display: grid;
    grid-template-columns: repeat(2, 55px) 4fr repeat(4, 55px);
    height: 45px;
    padding: 0px 0px 0px 26px;
    
} 

#about {
    grid-column: 1/2;
   
}

#store {
    grid-column: 2/3;
    padding-left: 2px;
}

#gmail {
    grid-column: 4/5;
    padding-left: 7px;
    padding-top: 1px;
}

#images {
    grid-column: 5/6;
    padding-left: 1px;
    padding-top: 1px;

}

#apps-icon {
    grid-column: 6/7;
    padding-left: 20px;
    padding-top: 14px

}
 
#profile {
    grid-column: 7/8;
    padding-top: 2px;
    padding-left: 1px;
}

/* Grid End */


/*Styling & Alignment */ 

.text-link {          /* also applies to footer links*/                 
    color: #222;                          
    text-decoration: none;
}

.text-link:hover {    /* also applies to footer links*/  
    text-decoration-line: underline;
}

.top-left-link {
    font-size: 14px;
    font-family: Arial;
    color: #222;
}

.top-right-link {
    font-size: 13px;
    font-family: Arial;
    color: #0e0e0f;
}

.apps-icon-container {     /*Creating "apps-icon" with grid*/
  display: grid;
  grid-template-columns: repeat(3, 6px);
  grid-template-rows: repeat(3, 6px);
  }
 
.app  {
    background-color: #727272;  /*Creating "apps-icon" with grid*/
    height: 2.2px; 
    width: 2.2px;
    border: 1px solid #727272;
    border-radius: 50%;    
}

#profile-shape {
    border: #fff 4px solid;
    border-radius: 50%;
}

#profile-shape:hover {
    border: #eee 4px solid;
    border-radius: 50%;
}

/*Styling & Alignment End */ 



/* 
***************
Top Nav Bar End
***************
*/






/*
*****************
Main Page Content
*****************
*/


/*Grid */

#main-container {
    display: grid;
    grid-template-rows: repeat(4 auto);
    padding: 18vh 19px 0px 19px;

}

#google-logo {
   grid-row: 1/2;
   margin: 0px auto; 

}

#search {
    grid-row: 2/3;
    margin: 20px auto 0px auto;
    height: 50px;

}
#buttons {
    grid-row: 3/4;
    margin: 25px auto 0px auto;
    height:40px;
}

#language {
    grid-row: 4/5;
    font-size: small;
    font-family: arial;
    margin: 12px auto 0px auto;
}


/*Grid End */


/*Styling & Alignment*/

#search-field {
 border: 1px solid #dfe1e5;
 box-shadow: none;
 border-radius: 24px;
 margin: 0 auto;
 height: 44px;
 width: 580px;
 font-size: 16px;
 font-family: arial;
 color: #222;
 text-indent: 8%;
 text-decoration: none;
 background: url("google-search.png") 1.4% 50% no-repeat, url("google-microphone.png")  98% 44% no-repeat;
}

#search-field:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

@media (max-width: 628px) {
     #search-field {
           width: 91vw;
        }
    }

input:focus, 
select:focus {
    outline: none;
}

#microphone {
    position: relative;
    left: 47px;
    top: 8px;
}

.submit{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial;
    font-size: 14px;
    margin:0px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}

.submit:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.francais { 
text-decoration: none;
color: #1a0dab;
}

/*Styling & Alignment End*/


/*
*********************
Main Page Content End
*********************
*/





/* 
**************
Bottom Nav Bar
**************
*/


/*Grid*/

.bottom-content-container{
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#region {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #727272;
    font-family: arial;
    grid-row: 1/2; 
    grid-column: 1/3;
}

#first-list {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: left;
}

#second-list {
   grid-row: 2/3;
   grid-column: 2/3;
   text-align: right;
}

/*Grid End*/


/*Styling & Alignment*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.bottom-links {
    padding: 15px;
    font-size: 14px;
    font-family: arial;
    color: #727272;

}

/*Styling & Alignment End*/


/*Resize/Responsive Alignment*/

@media (max-width: 1200px) {
 #first-list {
 text-align: center;
 }
}

@media (max-width: 1200px) {
    #second-list {
       text-align: center;
    }
}

@media (max-width: 650px) {
    #bottom-content-container {
        grid-template-rows: 1fr 1fr 1fr;
    }
}


@media (max-width: 650px) {
    #first-list {
        grid-column: 1/3
}
}

@media (max-width: 650px) {
    #second-list {
        grid-column: 1/3;
        grid-row: 3/4;
     }
}


/*Responsive Alignment End*/



/* 
******************
Bottom Nav Bar End
******************
*/
