.google-homepage-container {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}
    
.header {
    grid-row: 1/2;
}
    
.content {
    grid-row: 2/3;
}
    
.footer  {
    grid-row: 3/4;
}
    
.text-link {
    color: #222;
    text-decoration: none;
}

.text-link:hover {
    text-decoration-line: underline;
}

.text-link-2 {
    text-decoration: none;
}

.text-link-2:hover {
    text-decoration-line: underline;
}

.left-link {
    font-size: 14px;
    font-family: Arial;
    color: #222;
}

.right-link {
    font-size: 13px;
    font-family: Arial;
    color: #0e0e0f;
}

.links-top-container {
    margin-left: 18px;
    display: grid;
    grid-template-columns: repeat(2, 55px) 4fr repeat(4, 55px);
} 

.about {
    grid-column: 1/2;
}

.store {
    position: relative;
    left: 1.5px;
    grid-column: 2/3;
}

.gmail {
    position: relative; 
    left: 15.5px;
    top: 1px;
    grid-column: 4/5;
}

.images {
    position: relative;
    left: 9.3px;
    top: 1px;
    grid-column: 5/6;
}

.apps-icon {
    position: relative;
    left: 9px;
    top: 3px;
    grid-column: 6/7;
}
 
.profile {
    position: relative;
    left: 12px;
    top: 2px;
    grid-column: 7/8;

}

.profile-shape {
    border: #fff 4px solid;
    border-radius: 50%;
}

.profile-shape:hover {
    border: #eee 4px solid;
    border-radius: 50%;
}

.apps-icon-container {
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 30%;
  height: 40%;
  display: grid;
  grid-template-columns: repeat(3, 6px);
  grid-template-rows: repeat(3, 6px);
  align-items: center;
}
 
.app  {
    background-color: #727272;
    height: 2.2px;
    width: 2.2px;
    border: 1px solid #727272;
    border-radius: 50%;    
}

.links-right {
    display: grid;
    grid-template-columns: 55px 55px 55px 55px;
    margin-right: 2px;
    margin-left: 500px;
}


.content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.logo-div {
    grid-column: 1/2;
   grid-row: 1/2;
   text-align:center;
}


.search {
    grid-column: 1/2;
    grid-row: 2/3;
}

.search-bar {
    position: relative;
    text-align: center;
    margin:0 auto;
    width: 584px;
    height: 44px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    top: 40px;
}

.search-field {
 position: relative;
 margin: 0 auto;
 height: 30px;
 width: 400px;
 text-align: left;
 right: 48px;
 top: 2px;
 font-size: 16px;
 font-family: arial;
 color: #222;
 border: white;
 text-decoration: none;
}

.search-bar:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.magnifier {
    position: relative;
    right: 50px;
    top: 10px;
}

.microphone {
    position: relative;
    left: 47px;
    top: 8px;
}
.buttons {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: thistle;
    text-align: center;
}

.submit{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial;
    font-size: 14px;
    margin: 20px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}

.submit:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.language {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
    font-size: small;
    font-family: arial;
    background-color: wheat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.bottom-content-container{
    background-color: #eee;
    margin-bottom: -10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}


.region {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #727272;
    font-family: arial;
    grid-row: 1/2; 
    grid-column: 1/3;
}

.bottom-links {
    padding: 15px;
    font-size: 14px;
    font-family: arial;
}

.bottom-link {
color: #727272;
margin: 12px;
}

.first-three {
grid-row: 2/3;
grid-column: 1/2;
text-align: left;
}

.second-three {
grid-row: 2/3;
grid-column: 2/3;
text-align: right;
}

@media (max-width: 1200px) {
 .first-three {
    text-align: center;
 }
}

@media (max-width: 1200px) {
    .second-three {
       text-align: center;
    }
}


@media (max-width: 650px) {
    .bottom-content-container {
        grid-template-rows: 1fr 1fr 1fr;
    }
}


@media (max-width: 650px) {
    .first-three {
        grid-column: 1/3
}

@media (max-width: 650px) {
    .second-three {
        grid-column: 1/3;
        grid-row: 3/4;
     }
}

@media (max-width: 650px) {
    .bottom-content-container {
     top: 74px;
    }
}

